name: BATMODS-LITE-CI

on:
   push:
     branches: [main, addci_new]
     paths-ignore:
        - '*.md'
        - 'README*'
        - 'LICENSE'
   pull_request:
     branches: [main]
     paths-ignore:
        - '*.md'
        - 'README*'
        - 'LICENSE'

jobs:
  Test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
    defaults:
      run:
        working-directory: ${{github.workspace}}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{matrix.python-version}}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          conda install -y -c conda-forge scikits.odes
          python -m pip install .
          python -m pip install scikits.odes
          python -m pip install pytest
      - name: Test
        run: |
          pytest 
